@import url("//fonts.googleapis.com/css?family=Roboto+Mono:400,700");

.card-content {
  font-family: "Roboto Mono", courier;
  font-weight: bold;
  text-align: left;
  /* flex: 1; */
}

.c-bg {
  color: #3e3f36;
}

.c-card {
  color: #272822;
}

.c-green {
  color: #a6c832;
}

.c-blue {
  color: #74c9e2;
}

.c-orange {
  color: #f49629;
}

.c-red {
  color: #e73073;
}

.c-grey {
  color: #5d5e5b;
}

.c-purple {
  color: #967fb9;
}

.card-content span,
.card-content .ti-cursor,
.card-content p {
  margin: 0;
  font-size: 3.5vw!important;
  line-height: 1.5;
  display: inline;
}

/* @media (min-width: 480px) {
  .card-content span,
  .card-content .ti-cursor,
  .card-content p {
    font-size: 3vw!important;
  }
} */

@media (min-width: 1024px) {
  .card-content span,
  .card-content .ti-cursor,
  .card-content p {
    font-size: 2vw!important;
  }
}

/* .card-content .extras {
  display: none;
}

  .card-content .extras {
    display: inline;
} */
