body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #444;
}

body, body a {
  color: #fff;
}

a {
  text-decoration: none;
}

a:focus { outline: none; }

.portfolioDialog img {
  max-width: 100%;
  max-height: 100vh;
}

.portfolioDialog a[href*=".jpg"],
.portfolioDialog a[href*=".png"] {
  display: block;
  text-align: center;
  padding-top: 16px;
}

.portflioDialigContent::-webkit-scrollbar {
  width: 10px;
  background: #424242;
}

.portflioDialigContent::-webkit-scrollbar-thumb {
  width: 10px;
  background: #555;
}
.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .7s ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}