@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  background: #444;
  /* work mode */
  /* filter: grayscale(100%); */
}

body,
body a {
  color: #fff;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.tac {
  text-align: center;
}

.page-wrapper {
  margin-top: 64px;
}

.portfolioDialog img {
  max-width: 100%;
  max-height: 100vh;
  display: block;
  margin: 1em auto;
}

.portfolioDialog a[href*=".jpg"],
.portfolioDialog a[href*=".png"] {
  display: block;
  text-align: center;
  padding-top: 16px;
}

.portflioDialigContent iframe {
  max-width: 100%!important;
  height: auto!important;
}

.portflioDialigContent::-webkit-scrollbar {
  width: 10px;
  background: #424242;
}

.portflioDialigContent::-webkit-scrollbar-thumb {
  width: 10px;
  background: #555;
}

.fade-appear {
  opacity: 0.01;
  transition: opacity 0.3s ease-in;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.loginThumbnail {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.loginThumbnail .inner {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}

.make-emojis-large > span {
  font-size: 4.5rem;
  line-height: 1;
}

.modular-row {
  padding: 5em 16px 2em;
  display: flex;
  min-height: calc(100vh - 64px);
  position: relative;
  flex-direction: column;
  margin-top: 64px;
}

.modular-row.portfolio {
  align-items: flex-start;
}

.modular-row.contact {
  min-height: 70vh;
}

.modular-row.about {
  justify-content: center;
}

.card {
  transition: all 100ms ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  transition: all 100ms ease-in-out;
}

.card .title {
  min-height: 3.5em;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.modalSpinnerContainer {
  height: 60vh;
}

@media screen and (min-width: 960px) {
  .modalSpinnerContainer {
    height: auto;
  }

  .modular-row {
    padding: 5em 10vw 2em;
  }
}
